<app-header></app-header> 

<div class="container">
  <div  class ="col-lg-12" style="text-align:center">
    <section>
      <br><br><br>
      <h2><p><br>About Us</p></h2>
        </section>
      <p><strong> Musixapp, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.</strong></p>

    <p><strong>There are millions of tracks and episodes on Musixapp. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Musixapp surprise you.</strong></p>

    <p><strong>You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.</strong></p>

    <p><strong>Soundtrack your life with Musixapp. Subscribe or listen for free.</strong></p>
    </div>
    
</div>


<app-footer></app-footer>