<app-dashboard1></app-dashboard1>
    
<!-- <button type="button" class="btn btn-primary btn-lg" [routerLink]="['../favourite']">Favourite</button>

<button type="button" class="btn btn-primary btn-lg" [routerLink]="['../recommendation']">Recommendation</button>

<button type="button" class="btn btn-primary btn-lg" [routerLink]="['../search']">Search</button> -->


<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		Welcome to MusixApp
    </mat-card-title>
    
    <br>

	<mat-card-content>
        <button type="button" class="btn btn-info btn-lg" [routerLink]="['../favourite']">Favourite</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;

        <button type="button" class="btn btn-info btn-lg" [routerLink]="['../recommendation']">Recommendation</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        
        <button type="button" class="btn btn-info btn-lg" [routerLink]="['../search']">Search</button>
        
		
        </mat-card-content>
        
<!-- Jumbotron112222 -->
   <!--MDB -->
   <div class="container mt-4">
        <!--Jumbotron-->
        <div class="jumbotron text-center bg-secondary mdb-color lighten-2 white-text z-depth-2">
            <!--Title-->
            <h1  class="card-title text-light h2-responsive mt-2 font-bold txt1"><strong >"Music gives a soul to the universe,wings to the mind,flight to the imagination and life to everything" </strong></h1>
            <!--Subtitle-->
            <p class="mt-4 txt2"></p>
            <!--Text-->
            
            <div class="d-flex justify-content-center">
                <img src="../assets/images/img1.png" style="width:auto;height:200px;" alt="">
            </div>
        </div>
        <!--Jumbotron-->
    </div>
    <!--MDB -->
  <app-footer></app-footer>