 <app-header></app-header> 
<br/><br/><br/><br/>
<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="../assets/images/music4.jpg" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" >
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" >
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="Brazil">Brazil</option>
            <option value="Sweden">Sweden</option>
            <option value="India">India</option>
            <option value="France">France</option>
            <option value="Italy">Italy</option>
            <option value="China">China</option>
            <option value="Germany">Germany</option>
            <option value="Spain">Spain</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Please write your query/message.." style="height:120px"></textarea>
          <!-- <input type="submit"  value="Submit"> -->
          <div class="text-center"> 
            <button type="button" ><a href="mailto:Chandra@gmail.com" style="color: black;">Submit</a></button> 
        </div> 
        </form>
      </div>
    </div>
  </div>


  <app-footer></app-footer>