<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand   music-app" [routerLink]="['../search']">MusixApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-success"  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      

   

      <li class="nav-item">
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
         Playlist
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
          <a class="dropdown-item" [routerLink]="['../contrieswise']">Countries Wise</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../tracks']">Language Wise</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../about-us']">
          
          About Us
        </a>
      </li> 
    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../contactus']">
          
          Contact Us
        </a>
      </li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
         
          <li><a class="text-dark" [routerLink]="['../recommendation']"><span class="glyphicon glyphicon-log-in text-dark"></span> Recommendations</a></li>
          <li><a class="text-dark" [routerLink]="['../favourite']"><span class="glyphicon glyphicon-log-in text-dark "></span> Favourites</a></li>
          <li><a class="text-dark"[routerLink]="['../search']"><span class="glyphicon glyphicon-log-in text-dark"></span> Search</a></li>
          <li><a class="text-dark" [routerLink]="['../logout']"><span class="glyphicon glyphicon-log-in text-dark"></span>Logout</a></li>
        </ul>
    
  </div>
</nav>